// Colors
$color-white: #fff;
$color-text-muted: #888;

// Card
$card-bg: rgba(255, 255, 255, 0.15);
$card-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
$card-blur: 14px;
$card-radius: 24px;

// Logo
$logo-height: 6em;
$logo-padding: 1.5em;
$logo-hover-shadow: #646cffaa;
$logo-react-hover-shadow: #61dafbaa;
