@use "variables" as *;

body {
  padding: 0;
  margin: 0;
}

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.logo {
  height: $logo-height;
  padding: $logo-padding;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em $logo-hover-shadow);
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em $logo-react-hover-shadow);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: $color-text-muted;
}
